body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.center {
    text-align: center;
    height: 40px;
}

.navbar {
    background: #222222;
}

.wrapper-nav {
    display: flex;
    justify-content: space-between;
}

.left-nav {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: content;
    margin-top: 18px;
    margin-bottom: 19px;
}

.right-nav {
    margin-top: 18px;
    margin-bottom: 19px;
}

.icon-left-1 {
    padding-right: 44px;
}

.icon-left-2:hover svg {
    stroke: #d66b9d; 
}

.icon-right {
    padding-right: 33px;
}

.icon-right:hover svg {
    stroke: #d66b9d; 
}

.icon-right-3:hover svg {
    stroke: #d66b9d; 
}

.jumbotrone {
    background-color: #F1E4E6;
    height: 760px;
}

.model {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 760px;
    background-image: url("../img/model.png");
    background-repeat: no-repeat;
    background-position: -225px 0;
}

.brand-name {
    border-left: 12px solid #F16D7F;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    margin-right: 95px;
    margin-top: -30px;
    padding-left: 16px;
}

.brand-bold {
    font-weight: 900;
    font-size: 48px;
}

.brand-color {
    color: #F16D7F;
}

.offers {
    margin-top: 65px;
}

.offers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 1rem;
    row-gap: 1rem;
}

.offer {
    position: relative;
    flex: 1;
}

.offer div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.offer img {
    object-fit: cover;
    width: 100%;
    min-height: 111px;
    min-width: 232.5px;
}

.last {
    flex-basis: 100%;
}

.offer-span-us {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer-span-pink {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;    
    color: #F16D7F;
}

.items {
    padding: 30px 0 95px 0;
}

.items-heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.items-about {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin: 0;
}


.items-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
    padding-left: 0;
    list-style: none;
}

.item-group {
    padding: 0 18px;
}

.item {
    background-color: #f8f8f8;
    width: 360px;
    padding-bottom: 10px;
}

.item-img {
    position: relative;
    flex: 1;
}

.item-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.item-btn {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;  
    width: 139px;
    height: 44px;
}

.item-bg:hover > .item-btn {
    visibility: visible;
}

.item-bg:hover {
    background: rgba(58, 56, 56, 0.86);
}

 .item-btn-txt {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
 }

.item-btn-txt::before {
    content: url(../img/cart.svg);
    vertical-align: middle;
    padding-right: 11px;
}

.item-title {
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;

}

.item-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 0 0 18px 17px;
    margin: 0;
}

.item-price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 19px;
    padding-bottom: 20px;
    margin: 0;

}

.button-items {
    margin-top: 48px;
}

.button-items-text:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}

.button-items-text {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F16D7F;
    color: #F16D7F;
    text-decoration: none;
    padding: 14px 39px;

}

.services {
    background: #222224;
}

.services-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.service {
    padding-top: 103px;
    padding-bottom: 104px;
    flex: 1;
    min-width: 340px;
}

.service-low {
    padding-top: 99px;
}


.service-heading {
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
}

.service-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.registration {
    background: url("../img/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}

.registration-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

.review {
    margin-top: 87px;
}

.review-woman {
    margin: auto;
    display: block;
}

.review-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;

}

.review-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.review-normal {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.review-name {
    display: flex;
    flex-direction: column;
}

.registration-form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 156px;
}

.registration-input {
    background-color: #E1E1E1;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 18px 64px 17px 22px;
}

.registration-button {
    background-color: #F16D7F;
    border: none;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    padding: 20px 18px 20px 17px;
}

.registration-button:hover {
    background-color: #E05C6E;
    
}

.contacts {
    background: #222224;

}

.contacts-info {
    display: flex;
    justify-content: space-between;
    
}

.contacts-social {
    padding-top: 24px;
}

.copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
    padding-bottom: 30px;
}

